body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTE8qaji4N9iRBbxnFLDIcz_UBG2GFT3Jlc-nU8zZ6Jy1Lvzhnhj4twWfqX4LzdNVFpwo8&usqp=CAU");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
